.main {
    background-color: var(--color-background);
    color: var(--color-white);
    height: 100vh;
}

.main-content {
    // text-align:center;
    // margin: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    .content {
        max-width: 28rem;
    }
}
